<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Pies | Bethany's Pie Shop</title>

    <!-- Include required files here -->
    <link rel="stylesheet" th:href="@{/css/pies.css}" type="text/css">
</head>
<body>
    <!-- Thymeleaf layout dialect fragment -->
    <div layout:fragment="content" class="content-fragment">
        <!-- VueJs container app -->
        <div id="app">

            <main>
                <aside><img th:src="@{/images/logo.png}" alt="Bethany's Pie Shop"></aside>

                <article>
                    <h1>{{ pageHeader }}</h1>
                    <section class="columns-desktop">
                        <!-- Pie item -->
                        <div class="pie"
                             v-for="pieItem in pieItems"
                             :key="pieItem.pieId">

                            <!-- Pie item image and content -->
                            <img :src="getPieImagePath(pieItem)" :alt="pieItem.pieTitle">
                            <div class="columns">
                                <div class="title">{{ pieItem.pieTitle }}</div>
                                <div class="price">${{ pieItem.piePrice.toFixed(2) }}</div>
                            </div>
                            <p class="desc">{{ pieItem.pieDescription }}</p>

                            <!-- Pie item order button -->
                            <button class="pie-order-button"
                                    v-if="pieItem.quantity === 0"
                                    @click="incrementPieItemQuantity(pieItem)"
                            >Order</button>

                            <!-- Pie item add to cart - quantity button -->
                            <div class="cart-quantity-button" v-else>
                                <button class="quantity-btn"
                                        id="decrement-btn"
                                        @click="decrementPieItemQuantity(pieItem)"
                                >-</button>
                                <input
                                        type="text"
                                        name="item-quantity"
                                        id="bar"
                                        :value="pieItem.quantity"
                                        min="1"
                                        max="5"
                                        disabled
                                >
                                <button class="quantity-btn"
                                        id="increment-btn"
                                        @click="incrementPieItemQuantity(pieItem)"
                                        :disabled="pieItem.quantity === 5"
                                        :style="pieItem.quantity === 5? disabledBtnStyle : '' "
                                >+</button>
                            </div>
                        </div>
                    </section>
                </article>

                <aside>
                    <!-- Customer Cart -->
                    <div class="cart-container">

                        <!-- Cart header -->
                        <div class="cart-header">
                            <img class="cart-icon" th:src="@{/icons/cart-logo.svg}" alt="Cart Logo">
                            <p>Your Cart</p>
                        </div>
                        <!-- Cart items list -->
                        <div class="cart-items">

                            <!-- Cart item -->
                            <div class="cart-item"
                                 v-for="pieItem in customerCartItems"
                                 :key="pieItem.pieId">

                                <!-- Cart item content -->
                                <div class="content-columns">
                                    <img class="pie-thumbnail" :src="getPieImagePath(pieItem)" :alt="pieItem.pieTitle">
                                    <div class="content-titles">
                                        <p>flavor</p>
                                        <p>price</p>
                                        <p>quantity</p>
                                        <p>total</p>
                                    </div>
                                    <div class="content-values">
                                        <p>{{ pieItem.pieTitle.split(' ')[0] }}</p>
                                        <p>${{ pieItem.piePrice.toFixed(2) }}</p>
                                        <p>{{ pieItem.quantity }}</p>
                                        <p>${{ (pieItem.piePrice * pieItem.quantity).toFixed(2) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cart footer -->
                        <div class="cart-footer">
                            <div class="content subtotal">
                                <p class="key">Subtotal</p>
                                <p class="value">0.00</p>
                            </div>
                            <div class="content total">
                                <p class="key">Total</p>
                                <p class="value">${{ cartItemsTotalPrice.toFixed(2) }}</p>
                            </div>
                            <a th:href="@{order}">
                                <button v-show="showPlaceOrderBtn" class="place-order-btn">Place Order</button>
                            </a>
                        </div>
                    </div>
                </aside>
            </main>
        </div>

        <!--  Include required files  -->
        <script rel="script" th:src="@{/assets/vue.js}" type="text/javascript"></script>
        <script rel="script" th:src="@{/assets/axios.min.js}" type="text/javascript"></script>
        <script>
            const BASE_URL = 'http://localhost:8000/api/v1/pie'
            const IMAGE_PATH = '/images'
            let app = new Vue({
                el: '#app',
                data: {
                    disabledBtnStyle: {backgroundColor: 'rgb(204, 136, 136, 0.7)', border: 'rgb(204, 136, 136, 0.7)'},
                    pageHeader: 'PIES',
                    pieItems: [],
                },
                computed: {
                    customerCartItems: function () {
                        const orderedPieItems = this.pieItems.filter(pieItem => pieItem.quantity >= 1)
                        sessionStorage.cartItems = JSON.stringify(orderedPieItems)
                        return orderedPieItems
                    },
                    cartItemsTotalPrice: function () {
                        return (this.customerCartItems.length >= 1)
                            ? this.customerCartItems
                                .map(cartItem => (cartItem.piePrice * cartItem.quantity))
                                .reduce((prev, next) => prev + next)
                            : 0
                    },
                    showPlaceOrderBtn: function () {
                        return this.customerCartItems.length >= 1
                    },
                },
                methods: {
                    getPieItems: async () => {
                        try {
                            const response = await axios.get(`${BASE_URL}`)
                            const pieItems = response.data

                            console.log(`GET: getPieItems \n`, pieItems)
                            return pieItems
                        } catch (errors) {
                            console.log(errors)
                        }
                    },
                    getPieImagePath: function (pie) {
                        const imageFormat = '.jpeg'
                        const defaultImage = 'default-pie.jpeg'

                        if (pie.pieHasImage) {
                            const formattedPieTitle = this.formatPieTitle(pie);
                            const pieImageResource = formattedPieTitle.concat(imageFormat)
                            return `${IMAGE_PATH}/${pieImageResource}`
                        }
                        return `${IMAGE_PATH}/${defaultImage}`
                    },
                    formatPieTitle: function (pie) {
                        // formats Apple Pie into a url friendly 'apple-pie'

                        const trimmedPieTitle = pie.pieTitle.trim()
                        return trimmedPieTitle.replace(/\s+/g, '-').toLowerCase();
                    },
                    incrementPieItemQuantity: function (pieToBeModified) {
                        this.pieItems = this.pieItems.map(pieItem =>
                            (pieItem.pieId === pieToBeModified.pieId)
                                ? {...pieItem, quantity: pieToBeModified.quantity + 1}
                                : pieItem
                        )
                    },
                    decrementPieItemQuantity: function (pieToBeModified) {
                        this.pieItems = this.pieItems.map(pieItem =>
                            (pieItem.pieId === pieToBeModified.pieId)
                                ? {...pieItem, quantity: pieToBeModified.quantity - 1}
                                : pieItem
                        )
                    },
                },
                async created() {
                    const pieItems = await this.getPieItems()
                    this.pieItems = pieItems.map(pieItem => ({
                        ...pieItem, quantity: 0
                    }))
                }
            })
        </script>
    </div>
</body>
</html>